<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>{{site.title}}</h2>
                <p>Innovative Oil &amp; Gas Development and Production Solutions</p>
                <ul class="actions">
                    <li><a href="/about" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        
        <section class="wrapper">

          <div class="container">
            <div class="row">
        {{ content }}
            </div>
          </div>
        </section>
        
        {% include /footer.html %}

    </body>

</html>
